<div class="container col-lg-4 col-md-8 col-sm-11 d-flex align-item-center shadow-lg rounded mt-5", style='background-image: linear-gradient(to right top, #f48603, #1db9ff);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;'>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <h2 class="mt-2 mb-2 text-center ">Login</h2>

    <div class="field m-4 mt-1">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field m-4 mt-2">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field m-4 mt-2">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>
    
    <div class="actions m-4 mt-2 mb-0">
      <%= f.submit "Log in" %>
    </div>
    <div class="field ms-4 mt-0">
     <p>If you don't have an account <%= render "devise/shared/links"%></p>
    </div>
    
  <% end %>
</div>