<div class="container" >
  <div class="row justify-content-center login">
    <div class="col-lg-6 col-md-10 d-flex flex-column align-items-center justify-content-center mt-2 bg-white shadow-lg" >
      <%= form_for( @property ,url: '/property' , method: :post) do |f| %>
        <h2 class="mt-2 mb-2 text-center">Property Information</h2>
        <div class="row">

          <div class="field  m-4 mt-1 col-lg-5 col-md-8">
            <%= f.label :price, :class=>'form-label' %><br />
            <%= f.number_field :price, autofocus: true, autocomplete: "price", :class => 'form-control' %>
          </div>   

          <div class="field  m-4 mt-1 col-lg-5 col-md-8">
            <%= f.label :land_area, :class=>'form-label' %><br />
            <%= f.text_field :land_area, autofocus: true, autocomplete: "land_area", :class => 'form-control' %>
          </div> 

          <div class="field  m-4 mt-1 col-lg-5 col-md-8">
            <%= f.label :floor, :class=>'form-label' %><br />
            <%= f.text_field :floor, autofocus: true, autocomplete: "floor", :class => 'form-control' %>
          </div> 
        </div>
        <%= f.fields_for @property.build_address do |g| %>
          <h2 class="mt-2 mb-2 text-center">Address Information</h2>
          <div class="row">
            <div class="field  m-4 mt-1 col-lg-5 col-md-8">
              <%= g.label :plot_no, :class=>'form-label' %><br />
              <%= g.text_field :plot_no, autofocus: true, autocomplete: "plot_no", :class => 'form-control' %>
            </div>
            <div class="field  m-4 mt-1 col-lg-5 col-md-8">
              <%= g.label :locality, :class=>'form-label' %><br />
              <%= g.text_field :locality, autofocus: true, autocomplete: "locality", :class => 'form-control' %>
            </div>
            <div class="field  m-4 mt-1 col-lg-5 col-md-8">
              <%= g.label :city, :class=>'form-label' %><br />
              <%= g.text_field :city, autofocus: true, autocomplete: "city", :class => 'form-control' %>
            </div>
            <div class="field  m-4 mt-1 col-lg-5 col-md-8">
              <%= g.label :state, :class=>'form-label' %><br />
              <%= g.text_field :state, autofocus: true, autocomplete: "state", :class => 'form-control' %>
            </div>  
            <div class="field  m-4 mt-1 col-lg-5 col-md-8">
              <%= g.label :zipcode, :class=>'form-label' %><br />
              <%= g.text_field :zipcode, autofocus: true, autocomplete: "zipcode", :class => 'form-control' %>
            </div>
          </div>
        <% end %>


        <div class="actions m-4 mt-2 mb-3">
          <%= f.submit "Add Property" %>
        </div>
      <% end %>      
    </div>
  </div>
</div>
