<div>
  <% if @project.nil? == false%>
    <div class="row card shadow-lg">
      <% @project.each do | project | %>
        <div class="card col-lg-5 col-md-6 col-sm-11 shadow-lg ms-2">
          <div class="card-header"><%= project.project_type %> |  Rs <%= project.budget %>/-  </div>
          <div class="card-body">
            <h5 class="card-title"><strong><%= project.address.plot_no %>, <%= project.address.locality %>, <%= project.address.city %>, [ <%= project.address.state %> ] - <%= project.address.zipcode %></strong> </h5>
            <h6 class="card-title">
              <strong>Details:</strong><%= project.details %> sqft<br>
              <strong>Quotation :</strong><%= project.quotation_file %> floors
            </h6>            
            <p></p>
            <h6></h6>
          </div>
          <div class="card-footer row">
            <div class="col-lg-5 col-md-6 col-sm-6">
              <%= button_to 'Update', edit_project_url(project.id), method: :get, :class => ' btn btn-warning text-white '  %>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-6">
              <%= button_to 'Delete', project, method: :delete, data: { confirm: 'Are you sure?' }, :class => ' btn btn-danger text-white ' %>
            </div>
          </div>
        </div>      
      <% end %>
    </div>
  <% end %>
</div>