<section class="section profile">
      <div class="row d-flex align-item-center">
        <div class="col-sm-12 col-md-12 col-lg-3 ">
          <div class="card">
            <div class="card-body profile-card  pt-4 d-flex align-item-center text-center  row">

              <div class="col-lg-12 col-md-4 col-sm-12">
                <%= image_tag 'default_profile.png', height: 70, width: 70, class: 'rounded-circle'  %>
                <h5><%=  @user.user_type.capitalize %></h5>
              </div>

              <div class="col-lg-12 col-md-6  p-0 text-start border border-primary mt-3 shadow-lg">
                

                <div class=" m-0 p-0 ps-1">
                  <div class="" ><strong> Personal Information </strong></div>
                </div>
                <div class="row m-0 p-0 ps-1">
                  <div class="col-4" >Name</div>
                  <div class="col-8" ><%=  @user.name.capitalize %></div>
                </div>

                <div class="row m-0 p-0 ps-1">
                  <div class="col-4">Phone</div>
                  <div class="col-8"><%=  @user.mobile %></div>
                </div>

                <div class="row m-0 p-0 ps-1">
                  <div class="col-4" >Email</div>
                  <div class="col-8" ><%=  @user.email %></div>
                </div>


                <div class="text-end ">
                  <%= link_to '<button type="button" class="btn btn-primary has-tooltip p-0 ps-1 m-0 pe-1" data-placement="left" title="update"> <i class="fa fa-pencil"></i> </button>'.html_safe, edit_user_registration_path,  {remote: :true, 'data-toggle': 'modal', 'data-target': '#modal-window'} %>
                </div>
                
              </div> 
              <% if @address.nil?%>
                <div class="col-lg-12 col-md-6  p-0 text-start border border-warning ">
                  
                  <div class=" m-0 p-0 ps-1">
                    <%= link_to '<button type="button" class="m-2 btn btn-primary has-tooltip p-0 ps-1 m-0 pe-1" data-placement="left" title="update"> <i class="fa fa-plus p-1"> Add address</i> </button>'.html_safe, address_create_path,  {remote: :true, 'data-toggle': 'modal', 'data-target': '#modal-window'} %>
                  </div>
                                  
                </div>  
              

              <% else %>
              <div class="col-lg-12 col-md-6  p-0 text-start border border-primary shadow-lg">
                
                <div class=" m-0 p-0 ps-1">
                  <div class="" ><strong> Address </strong></div>
                </div>
                <div class="row m-0 p-0 ps-1">
                  <div class="col-4" >plot no</div>
                  <div class="col-8" ><%=  @address.plot_no %></div>
                </div>

                <div class="row m-0 p-0 ps-1">
                  <div class="col-4">Locality</div>
                  <div class="col-8"><%=  @address.locality %></div>
                </div>

                <div class="row m-0 p-0 ps-1">
                  <div class="col-4" >city</div>
                  <div class="col-8" ><%=  @address.city %></div>
                </div>

                <div class="row m-0 p-0 ps-1">
                  <div class="col-4" >State</div>
                  <div class="col-8" ><%=  @address.state %></div>
                </div>

                <div class="text-end ">
                  <%= link_to '<button type="button" class="btn btn-primary has-tooltip p-0 ps-1 m-0 pe-1" data-placement="left" title="update"> <i class="fa fa-pencil"></i> </button>'.html_safe, address_edit_path,  {remote: :true, 'data-toggle': 'modal', 'data-target': '#modal-window'} %>
                </div>
                
              </div>  
              <% end %>           

              <div class="social-links mt-2">
                <a href="#" class="twitter m-3"> <i class="bi bi-twitter"> </i></a> 
                <a href="#" class="facebook m-3"> <i class="bi bi-facebook"> </i></a>
                <a href="#" class="instagram m-3"> <i class="bi bi-instagram"> </i></a>
                <a href="#" class="linkedin m-3"> <i class="bi bi-linkedin"> </i></a>
              </div>

            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-9">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Projects</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Properties</button>
                </li>

                 
              </ul>

              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                  <h5 class="card-title mt-3">Projects</h5>  
                    <div class="text-end pe-3">                    
                      <div class=" m-0 p-0 ps-1">
                        <%= link_to '<button type="button" class="m-2 btn btn-primary  has-tooltip p-0 ps-1 m-0 pe-1" data-placement="left" title="update">  Add property</button>'.html_safe, new_project_path,  {remote: :true, 'data-toggle': 'modal', 'data-target': '#modal-window'} %>
                      </div>
                    </div>  
                    <%= render partial:'project/show_project' %> 
                </div>

                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                  <div class="  ">
                                     	
                  </div>
                </div>

                <div class="tab-pane fade" id="profile-change-password">
                  <h5 class="card-title mt-3">Properties </h5>
                  <div class="text-end pe-3">
                    <div class=" m-0 p-0 ps-1">
                      <%= link_to '<button type="button" class="m-2 btn btn-primary  has-tooltip p-0 ps-1 m-0 pe-1" data-placement="left" title="update">  Add property</button>'.html_safe, new_property_path,  {remote: :true, 'data-toggle': 'modal', 'data-target': '#modal-window'} %>
                    </div>
                  </div>  
                  <%= render partial:'property/show_property' %>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>  