<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false">
    <div class="alert alert-info alert-dismissible fade show m-1" role="alert">
      <%= render "devise_users/shared/error_messages", resource: resource %>
      <button type="button" class="close " data-bs-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
<% end %>

<div class="container col-lg-4 col-md-8 col-sm-11 d-flex align-item-center shadow-lg rounded mt-2", style='background-image: linear-gradient(to right top, #f48603, #1db9ff);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;'>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), id:'userform')  do |f| %>
    

    

    <h2 class="mt-2 mb-2 text-center  ">Sign up</h2>

    <div class="field m-4 mt-1">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name", :class => 'form-control', required: true %>
    </div>

    <div class="field m-4 mt-2">
      <%= f.label :mobile %><br />
      <%= f.text_field :mobile, autofocus: true, autocomplete: "email", :class => 'form-control', required: true %>
    </div>

    <div class="field m-4 mt-2">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => 'form-control', required: true %>
    </div>  
    
    <div class="field m-4 mt-2">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" , :class => 'form-control', required: true%>
    </div>

    <div class="field m-4 mt-2">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" , :class => 'form-control', required: true%>
    </div>

    <div class="row ms-3 mt-1">
      <div class=" col-lg-6 col-md-6 col-sm-12  ">
        <%= f.label :profile_image %>
        <%= f.file_field :profile_image , :class => 'form-control', required: true%>
      </div>

      <div class=" col-lg-6 col-md-6 col-sm-12 mt-4">
        <%= f.radio_button :user_type, 'client', :class => 'form-check-input ' %> Client  
        <%= f.radio_button :user_type, 'builder', checked: true , :class => 'form-check-input ms-3' %> Builder
      </div>
      
    </div>


    <div class="actions m-4 mt-2 mb-0  text-center">
      <%= f.submit "Sign up" , :class => 'btn btn-success form-control' %>
    </div>
    <div class="field ms-4 mt-0">
     <p>If you already have an account <%= render "devise/shared/links"%></p>
    </div>

  <% end %>
</div>