<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <div class="container-fluid d-flex justify-content-between">
    <a class="navbar-brand" href="/">
      <%= image_tag 'logo1.png', height: 42%>
      <strong>Home  Builder</strong>
    </a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "Home", "/" , class: 'nav-link fs-5 '%>
        </li>
        <li class="nav-item">
          <%= link_to "Properties", property_index_url , class: 'nav-link fs-5 '%>
        </li>

        <li class="nav-item">
          <%= link_to "Projects", project_index_url , class: 'nav-link fs-5 '%>
        </li>  
        <li class="nav-item">
          <%= link_to "Builders", user_index_url , class: 'nav-link fs-5 '%>
        </li>  
        <li class="nav-item">
          <%= link_to "Requirement", "/customers" , class: 'nav-link fs-5 '%>
        </li>  
      </ul>
    </div>

    <ul class="nav navbar-nav ms-auto">
      <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
          <%= image_tag 'default_profile.png', height: 35, width: 35, class: 'rounded-circle'  %>
        </a>
        <ul class="dropdown-menu dropdown-menu-end shadow p-3 mb-5 bg-body rounded">
          
          <% if user_signed_in? %>
            <li class="text-center">
              <%= image_tag 'default_profile.png', height: 35, width: 35, class: 'rounded-circle'  %>
              <h5><%= @user.name %></h5>
            </li>
            <li>
              <%= link_to "Profile", user_show_path, method: :post , class: 'nav-link fs-5 text-dark'%>
            </li>
            <li>
              <%= button_to "Logout", destroy_user_session_path, :method => :delete, class: 'nav-link fs-5 p-0 text-dark container-fluid' %>
            </li>
          <% else %>  
            <li>
              <%= link_to "Sign_up", "/users/sign_up" , class: 'nav-link fs-5 text-dark'%>
            </li>
            <li>
              <%= link_to "Login", "/users/sign_in" , class: 'nav-link fs-5 text-dark'%>
            </li>
          <% end %>

          
        </ul>
      </li>
    </ul>

  </div>
</nav>
